APP_DEBUG = true

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai
DEPLOY_TARGET = local
LOCAL_HOST = 127.0.0.1:6666
SERVER_HOST = 8.133.19.244:8080

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = test
USERNAME = username
PASSWORD = password
HOSTPORT = 3306
CHARSET = utf8
DEBUG = true
LOCAL_HOSTNAME = 127.0.0.1
LOCAL_DATABASE = jykj_hgj
LOCAL_USERNAME = username
LOCAL_PASSWORD = password
LOCAL_HOSTPORT = 3306
LOCAL_CHARSET = utf8
LOCAL_PREFIX =
SERVER_HOSTNAME = 127.0.0.1
SERVER_DATABASE = jykj_hgj
SERVER_USERNAME = username
SERVER_PASSWORD = password
SERVER_HOSTPORT = 3306
SERVER_CHARSET = utf8
SERVER_PREFIX =

[LANG]
default_lang = zh-cn

[SNOWFLAKE]
EPOCH = 1704067200000
WORKER_ID = 1
DATACENTER_ID = 1
